<div class="container">
  <h3>DISCOVER THE COLORFUL WORLD</h3>
  <h1>NEW ADVENTURE</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias at harum
    unde, minima inventore delectus ullam commodi consequatur impedit
    consequuntur odit temporibus qui. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Eligendi laudantium incidunt eveniet consequatur ea
    libero, quia porro nemo amet officiis et. Tempora laborum possimus dolorem
    assumenda blanditiis ipsum optio quasi!
  </p>
  <br />
  <button (click)="showTheBody.emit()">DISCOVER NOW</button>
</div>
